@import 'tailwindcss';

@theme {
  --color-blue: #212130;
  --color-light-blue: #2C2C4B;
  --color-gray: #2B2B3E;
  --color-light-gray: #62627C;
  --color-white: #E4DFED;
}

body {
  @apply bg-blue text-slate-100;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: 0;
}
